<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout(title=~{::title}, content=~{::section}, extraHead=~{::extraHead})}">

<head>
    <title th:text="#{common.pageTitle}">Groupware</title>
</head>

<th:block th:fragment="extraHead">
	<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
</th:block>

<body>
<section>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-files-o fa-fw"></i> <span th:text="${bgInfo.bgname}"></span></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
            	<form id="form1" name="form1" role="form" action="boardSave" method="post" enctype="multipart/form-data" onsubmit="return fn_formSubmit();" >
					<div class="panel panel-default">
	                    <div class="panel-body">
	                    	<div class="row form-group">
	                            <label class="col-lg-1" th:text="#{board.title}"></label>
	                            <div class="col-lg-9">
	                            	<input type="text" class="form-control" id="brdtitle" name="brdtitle" size="70" maxlength="250" th:value="${boardInfo?.brdtitle}">
	                            	<label th:if="${bgInfo.bgnotice == 'Y'}">
				                        <input type="checkbox" name="brdnotice" value="Y" th:checked="${boardInfo?.brdnotice == 'Y'}"/>
				                        <span th:text="#{common.notice}"></span>
				                    </label>
	                            </div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1" th:text="#{board.contents}"></label>
	                            <div class="col-lg-9">
	                            	<textarea id="brdmemo" class="form-control" name="brdmemo" rows="10" cols="60" th:text="${boardInfo?.brdmemo}"></textarea>
	                            </div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1" th:text="#{board.file}"></label>
	                            <div class="col-lg-9">
	                            	<th:block th:each="file : ${listview}">
										<input type="checkbox" name="fileno" th:value="${file.fileno}">
										<a th:href="@{fileDownload(filename=${file.filename},downname=${file.realname})}" th:text="${file.filename}"></a> <span th:text="${file.size2String()}"></span><br/>
									</th:block>

									<input type="file" name="uploadfile" multiple="multiple" />
	                            </div>
	                        </div>
	                    </div>
	                </div>
			        <button class="btn btn-outline btn-primary" th:text="#{common.btnSave}"></button>
					<input type="hidden" name="bgno" th:value="${bgno}">
					<input type="hidden" name="brdno" th:value="${boardInfo?.brdno}">
				</form>

            </div>
            <!-- /.row -->

    <script th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
    	CKEDITOR.replace( 'brdmemo', { 'filebrowserUploadUrl': 'upload4ckeditor'});
    }

    function fn_formSubmit(){
    	CKEDITOR.instances["brdmemo"].updateElement();

    	if ( ! chkInputValue("#brdtitle", /*[[#{board.title}]]*/ "제목")) return false;
    	if ( ! chkInputValue("#brdmemo", /*[[#{board.contents}]]*/ "내용")) return false;

    	$("#form1").submit();
    }
    /*]]>*/
    </script>
</section>
</body>

</html>
