<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout(title=~{::title}, content=~{::section}, extraHead=~{::extraHead})}">

<head>
    <title th:text="#{common.pageTitle}">Groupware</title>
</head>

<th:block th:fragment="extraHead">
	<link th:href="@{/js/dynatree/ui.dynatree.css}" rel="stylesheet" id="skinSheet"/>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/dynatree/jquery.dynatree.js}"></script>
</th:block>

<body>
<section>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-files-o fa-fw"></i> <span th:text="${bgInfo.bgname}"></span></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
	                <button id="boardlistBtn" type="button" class="btn btn-default" onclick="showBoardList()"><i class="fa  fa-files-o fa-fw"></i> <span th:text="${bgInfo.bgname}"></span></button>
	                <div id="boardlistDiv" style="width: 250px; height:300px; display: none;" class="popover fade bottom in" role="tooltip">
	                	<div style="left:15%;" class="arrow"></div>
	                	<div class="popover-content">
             				<div id="tree"></div>
	                	</div>
	                </div>

					<button th:if="${bgInfo.bgreadonly == 'N' or session.userrole == 'A'}" type="button" class="btn btn-default pull-right"
					        th:attr="data-bgno=${searchVO.bgno}" onclick="fn_moveToURL('boardForm?bgno=' + this.getAttribute('data-bgno'))">
					<i class="fa fa-edit fa-fw"></i> <span th:text="#{board.new}"></span></button>
				</div>
            </div>
            <!-- /.row -->
            <div class="panel panel-default">
            	<div class="panel-body">
					<div class="listHead">
						<div class="listHiddenField pull-left field60" th:text="#{board.no}"></div>
						<div class="listHiddenField pull-right field60" th:text="#{board.attach}"></div>
						<div class="listHiddenField pull-right field60" th:text="#{board.hitCount}"></div>
						<div class="listHiddenField pull-right field100" th:text="#{board.date}"></div>
						<div class="listHiddenField pull-right field100" th:text="#{board.writer}"></div>
						<div class="listTitle" th:text="#{board.title}"></div>
					</div>

					<th:block th:each="item : ${noticelist}">
						<div th:replace="~{board/BoardListSub :: row(${item}, null)}"></div>
					</th:block>
					<div class="listBody height200" th:if="${#lists.isEmpty(listview)}"></div>
					<th:block th:each="item, itemStat : ${listview}">
						<div th:replace="~{board/BoardListSub :: row(${item}, ${searchVO.totRow - ((searchVO.page - 1) * searchVO.displayRowCount + itemStat.index)})}"></div>
					</th:block>

					<br/>
					<form role="form" id="form1" name="form1"  method="post">
					    <div th:replace="~{common/pagingforSubmit :: paging}"></div>

						<div class="form-group">
							<div class="checkbox col-lg-3 pull-left">
							 	<label class="pull-right">
		                        	<input type="checkbox" name="searchType" value="brdmemo" th:checked="${#strings.contains(searchVO.searchType, 'brdmemo')}"/>
		                        	<span th:text="#{board.contents}"></span>
		                        </label>
							 	<label class="pull-right">
		                        	<input type="checkbox" name="searchType" value="brdtitle" th:checked="${#strings.contains(searchVO.searchType, 'brdtitle')}"/>
		                        	<span th:text="#{board.title}"></span>
		                        </label>
							 	<label class="pull-right">
							 		<input type="checkbox" name="searchType" value="usernm" th:checked="${#strings.contains(searchVO.searchType, 'usernm')}"/>
		                        	<span th:text="#{board.writer}"></span>
		                        </label>
		                   </div>
		                   <div class="input-group custom-search-form col-lg-3">
	                                <input class="form-control" placeholder="Search..." type="text" name="searchKeyword"
	                                	   th:value="${searchVO.searchKeyword}" >
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" onclick="fn_formSubmit()">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            </span>
	                       </div>
						</div>
					</form>
            	</div>
            </div>
            <!-- /.row -->

    <script>

    function fn_formSubmit(){
    	document.form1.submit();
    }

    function showBoardList(ev){
    	if( $('#boardlistDiv').is(':visible') ) {
    		$("#boardlistDiv").hide();
    		return;
    	}
    	var pos = $( "#boardlistBtn" ).position();
    	$("#boardlistDiv").css({
    		   "top" : parseInt(pos.top)+30 + "px",
    		   "left" : pos.left
    	}).show();

    	var node = $("#tree").dynatree("getRoot");

    	if (node.childList) return;

    	$.ajax({
    		url: "boardListByAjax",
    		type:"post",
    		dataType: "json",
    		success: function(result){
    			$("#tree").dynatree({children: result});
    		    $("#tree").dynatree("getTree").reload();
    		    $("#tree").dynatree("getRoot").visit(function(node){
    		        node.expand(true);
    		    });
    		}
    	})

    }

    $(function(){
    	$("#tree").dynatree({
    		onActivate: TreenodeActivate
    	});
    });

    function TreenodeActivate(node) {
    	location.href = "boardList?bgno=" + node.data.key;
    }

    </script>
</section>
</body>

</html>
