<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout(title=~{::title}, content=~{::section}, extraHead=${null})}">

<head>
    <title th:text="#{common.pageTitle}">Groupware</title>
</head>

<body>
<section>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-gear fa-fw"></i> 일정관리</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
            	<form id="form1" name="form1" role="form" action="schSave" method="post" onsubmit="return fn_formSubmit();" >
            		<input type="hidden" name="ssno" th:value="${schInfo?.ssno}">
					<div class="panel panel-default schRead">
	                    <div class="panel-body">
	                    	<div class="row form-group">
	                            <label class="col-lg-1">일정명</label>
	                            <div class="col-lg-8" th:text="${schInfo?.sstitle}"></div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1">구분</label>
	                            <div class="col-lg-8" th:text="${schInfo?.sstype}"></div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1">일시</label>
	                            <div class="col-lg-8"
	                                 th:text="|${schInfo?.ssstartdate} ${schInfo?.ssstarthour}:${schInfo?.ssstartminute} ~ ${schInfo?.ssenddate} ${schInfo?.ssendhour}:${schInfo?.ssendminute}|">
	                            </div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1">반복</label>
	                            <div class="col-lg-8" th:text="${schInfo?.ssrepeattype}"></div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1">공개</label>
	                            <div class="col-lg-8" th:text="${schInfo?.ssisopen}"></div>
	                        </div>
	                    	<div class="row form-group">
	                            <label class="col-lg-1">내용</label>
	                            <div class="col-lg-8" th:text="${schInfo?.sscontents}"></div>
	                        </div>
	                    </div>
	                </div>
			        <button class="btn btn-outline btn-primary" th:text="#{common.btnSave}"></button>
				</form>

            </div>
            <!-- /.row -->
</section>
</body>

</html>
